<br>

# Áreas Regionais

In [4]:
import open_geodata as geo
import pandas as pd

from sp_mpsp_divadmin.paths import input_path_tab, output_path_tabs

<br>

## Nomes dos Municípios

Lê o arquivo csv com o nome dos municípios

In [7]:
df_mun = geo.load_dataset(db='sp', name='tab.municipio_nome')

df_mun.info()
df_mun.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    645 non-null    int64
 1   municipio_nome  645 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.2+ KB

   id_municipio    municipio_nome
0       3500105        Adamantina
1       3500204            Adolfo
2       3500303             Aguaí
3       3500402    Águas da Prata
4       3500501  Águas de Lindóia

<br>

## IDs vinculando Municípios com Áreas Regionais

In [8]:
# Dataframe
df = pd.read_csv(
    input_path_tab / 'tab_ids_municipio.csv',
    usecols=['id_municipio', 'id_ar'],
)

# Results
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  645 non-null    int64
 1   id_ar         645 non-null    int64
dtypes: int64(2)
memory usage: 10.2 KB

   id_municipio  id_ar
0       3500105     10
1       3500204     13
2       3500303      3
3       3500402      3
4       3500501      3

In [9]:
# Merge Municípios
df = pd.merge(
    df_mun,
    df,
    how='left',
    left_on='id_municipio',
    right_on='id_municipio',
)

# Results
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    645 non-null    int64
 1   municipio_nome  645 non-null    object
 2   id_ar           645 non-null    int64
dtypes: int64(2), object(1)
memory usage: 15.2+ KB

   id_municipio    municipio_nome  id_ar
0       3500105        Adamantina     10
1       3500204            Adolfo     13
2       3500303             Aguaí      3
3       3500402    Águas da Prata      3
4       3500501  Águas de Lindóia      3

<br>

## Município Áreas Regionais

In [10]:
# Dataframe GAEMAs
df_ar = pd.read_csv(input_path_tab / 'tab_arearegional.csv')
df_ar = df_ar.add_prefix('ar_')

# Results
df_ar.info()
df_ar.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ar_id           16 non-null     int64
 1   ar_nome         16 non-null     object
 2   ar_endereco     16 non-null     object
 3   ar_numero       15 non-null     object
 4   ar_complemento  0 non-null      float64
 5   ar_bairro       15 non-null     object
 6   ar_cep          16 non-null     object
 7   ar_munsede      16 non-null     object
 8   ar_telefone     16 non-null     object
 9   ar_url          16 non-null     object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.4+ KB

,ar_id,ar_nome,ar_endereco,ar_numero,ar_complemento,ar_bairro,ar_cep,ar_munsede,ar_telefone,ar_url
0,1,Araçatuba,Avenida Joaquim Pompeu de Toledo,1261,NaN,Saudade,16020-277,Araçatuba,(18) 3303-7480,http://www.mpsp.mp.br/portal/page/portal/Promo...
1,2,Bauru,Rua Afonso Pena,5-40,NaN,NaN,17060-250,Bauru,(14) 3222-3903 / 3222-6349 / 3222-6677,http://www.mpsp.mp.br/portal/page/portal/Promo...
2,3,Campinas,Avenida Francisco Xavier de Arruda Camargo,340,NaN,Jardim Santana,13088-902,Campinas,(19) 3578-8300,http://www.mpsp.mp.br/portal/page/portal/Promo...
3,4,Capital (Entrância Especial),Rua Riachuelo,115,NaN,Centro,01007-904,São Paulo,(11) 3119-9369 / 3119-9371,http://www.mpsp.mp.br/portal/page/portal/Promo...
4,5,Franca,Avenida Dr. Ismael Alonso Y Alonso,NaN,NaN,São José,14401-426,Franca,(16) 3702-8740 / 3722-1344 / 3722-3801,http://www.mpsp.mp.br/portal/page/portal/Promo...

In [11]:
# Merge GAEMAs
df = pd.merge(
    df,
    df_ar,
    how='left',
    left_on='id_ar',
    right_on='ar_id',
)

# Drop
df.drop(['ar_id'], axis=1, inplace=True, errors='ignore')

# Save
df.to_csv(
    output_path_tabs / 'tab_municipio_ar.csv',
    index=False,
)

# Results
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    645 non-null    int64
 1   municipio_nome  645 non-null    object
 2   id_ar           645 non-null    int64
 3   ar_nome         645 non-null    object
 4   ar_endereco     645 non-null    object
 5   ar_numero       620 non-null    object
 6   ar_complemento  0 non-null      float64
 7   ar_bairro       559 non-null    object
 8   ar_cep          645 non-null    object
 9   ar_munsede      645 non-null    object
 10  ar_telefone     645 non-null    object
 11  ar_url          645 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 60.6+ KB

,id_municipio,municipio_nome,id_ar,ar_nome,ar_endereco,ar_numero,ar_complemento,ar_bairro,ar_cep,ar_munsede,ar_telefone,ar_url
0,3500105,Adamantina,10,Presidente Prudente,Rua Ribeiro de Barros,630,NaN,Jardim Aviação,19020-430,Presidente Prudente,(18) 3221-7156,http://www.mpsp.mp.br/portal/page/portal/Promo...
1,3500204,Adolfo,13,São José do Rio Preto,Rua Voluntários de São Paulo,3539,NaN,Centro,15015-200,São José do Rio Preto,(17) 3121-4354,http://www.mpsp.mp.br/portal/page/portal/Promo...
2,3500303,Aguaí,3,Campinas,Avenida Francisco Xavier de Arruda Camargo,340,NaN,Jardim Santana,13088-902,Campinas,(19) 3578-8300,http://www.mpsp.mp.br/portal/page/portal/Promo...
3,3500402,Águas da Prata,3,Campinas,Avenida Francisco Xavier de Arruda Camargo,340,NaN,Jardim Santana,13088-902,Campinas,(19) 3578-8300,http://www.mpsp.mp.br/portal/page/portal/Promo...
4,3500501,Águas de Lindóia,3,Campinas,Avenida Francisco Xavier de Arruda Camargo,340,NaN,Jardim Santana,13088-902,Campinas,(19) 3578-8300,http://www.mpsp.mp.br/portal/page/portal/Promo...