<br>

# Redes Protetivas

In [1]:
import pandas as pd
from open_geodata import geo

from sp_mpsp_divadmin.paths import input_path_tab, output_path_tabs

<br>

## Nomes dos Municípios

Lê o arquivo csv com o nome dos municípios

In [2]:
df_mun = geo.load_dataset('tab.sp.tab_municipio_nome')

df_mun.info()
df_mun.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    645 non-null    int64
 1   municipio_nome  645 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.2+ KB

   id_municipio    municipio_nome
0       3500105        Adamantina
1       3500204            Adolfo
2       3500303             Aguaí
3       3500402    Águas da Prata
4       3500501  Águas de Lindóia

<br>

## IDs vinculando Municípios com Redes Protetivas

In [3]:
# Dataframe
df = pd.read_csv(
    input_path_tab / 'tab_ids_municipio.csv',
    usecols=['id_municipio', 'id_rp'],
)
# Results
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_municipio  645 non-null    int64
 1   id_rp         380 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 10.2 KB

   id_municipio  id_rp
0       3500105   11.0
1       3500204   10.0
2       3500303   14.0
3       3500402   14.0
4       3500501   14.0

In [4]:
# Merge Municípios
df = pd.merge(
    df_mun,
    df,
    how='left',
    left_on='id_municipio',
    right_on='id_municipio',
)

# Results
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    645 non-null    int64
 1   municipio_nome  645 non-null    object
 2   id_rp           380 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.2+ KB

   id_municipio    municipio_nome  id_rp
0       3500105        Adamantina   11.0
1       3500204            Adolfo   10.0
2       3500303             Aguaí   14.0
3       3500402    Águas da Prata   14.0
4       3500501  Águas de Lindóia   14.0

<br>

## Município Rede Protetiva

In [5]:
# Dataframe Rede Protetiva
df_rp = pd.read_csv(input_path_tab / 'tab_redeprotetiva.csv')
df_rp = df_rp.add_prefix('rp_')

# Results
df_rp.info()
df_rp.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rp_id     16 non-null     int64
 1   rp_nome   16 non-null     object
 2   rp_ugrhi  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

   rp_id             rp_nome                  rp_ugrhi
0      1         Mantiqueira         UGRHI Mantiqueira
1      2      Sapucaí/Grande      UGRHI Sapucaí/Grande
2      3      Tietê/Sorocaba      UGRHI Tietê/Sorocaba
3      4  Baixo Pardo/Grande  UGRHI Baixo Pardo/Grande
4      5        Tietê/Jacaré        UGHRI Tietê/Jacaré

In [6]:
# Merge Rede Protetiva
df = pd.merge(
    df,
    df_rp,
    how='left',
    left_on='id_rp',
    right_on='rp_id',
)

# Drop
df.dropna(subset=['rp_id'], inplace=True)
df.drop(['rp_id'], axis=1, inplace=True, errors='ignore')

# Save
df.to_csv(
    output_path_tabs / 'tab_municipio_rp.csv',
    index=False,
)

# Results
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 380 entries, 0 to 644
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_municipio    380 non-null    int64
 1   municipio_nome  380 non-null    object
 2   id_rp           380 non-null    float64
 3   rp_nome         380 non-null    object
 4   rp_ugrhi        380 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 17.8+ KB

   id_municipio    municipio_nome  id_rp        rp_nome             rp_ugrhi
0       3500105        Adamantina   11.0  Aguapeí/Peixe  UGRHI Aguapeí/Peixe
1       3500204            Adolfo   10.0    Baixo Tietê    UGRHI Baixo Tietê
2       3500303             Aguaí   14.0      Alto Mogi     UGRHI Mogi-Guaçu
3       3500402    Águas da Prata   14.0      Alto Mogi     UGRHI Mogi-Guaçu
4       3500501  Águas de Lindóia   14.0      Alto Mogi     UGRHI Mogi-Guaçu